// Default Section Padding
@default-padding: 40px 0px;
// Text color definitions
@dark: #000;
@light: #efefef;

// Navigation Theme/Skin
._nav_theme (@color) {
  background: @color;
  margin-bottom: 0;
  .inside{
    margin: 1rem auto;
    width: 100%;
    .navbar-brand {
      float: left;
      padding: 0px;
      font-size: 18px;
      line-height: 20px;
      padding-right: 40px;
    }
    .navbar-nav {
      li {
        font-size: 16px;
      }
      li:hover {
        a {
          color: #fff;
        }
      }
      .open {
        a {
          color: #555;
          background: #222;
        }
        .dropdown-menu {
          background: #222;
        }
      }
    }
  }
}

.default-padding {
  padding: 40px 0;
}

//NAVIGATION SKINNING
.section--navigation {
  .navbar-default {
    border: none;
  }
  ul.languages {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99999;
    background: transparent;
    li {
      display: inline-table;
      list-style: outside none none;
      margin-right: 0;
      cursor: pointer;
    }
  }
  .container {
    position: relative;
  }
}

//SECTION CONTENT
.section--content {
  padding-top: 50px;
  .game-icon {
    text-align: center;
    background: #eee;
    padding: .5em;
    :hover { background: #d52427; }
  }
}

//CAROUSEL SKINNING
.section--carousel {
  top: 70px;
  position: relative;
  #carousel-banner {
    .carousel-inner {
      .item img {
        width: 100%;
      }
    }
  }
}

.section--partners {
  background: #CCC;
  padding: @default-padding;
  .container {
    display: block;
    text-align: center;
    img {
      display: inline;
    }
  }
}

.section--footer {
  padding: @default-padding;
  background: #d52427;
  ul {
    margin: 0;
    float: none;
    text-align: center;
    li {
      display: inline-flex;
      float: none;
      border-right: 1px dashed rgba(255,255,255,0.7);
      :hover {
        background: none;
        color: rgba(255,255,255,0.9);
      }
      a {
        color: rgba(255, 255, 255, 0.7);
        text-transform: uppercase;
        font-weight: 100;
        padding: 2px 10px;
        margin-right: 4px;
      }
    }
    li:last-child {
      border: none;
    }
  }
}

.section--copyright {
  padding: 5px;
  background: #222;
  text-align: center;
  p {
    color: rgba(255, 255, 255, 0.5);
    padding: 0px;
    top: 5px;
    position: relative;
  }
}

.content > .row > div {
  padding: 0.5em;
  margin: 0;
  background: transparent;
}